/* The basic container */
.explosm-container {
    overflow: hidden;
    display: flex;

    max-width: 30vw;
    max-height: 25vh;
}

.explosm-img-container {
    flex: 1;
}

.explosm-img-container > img {
   max-width: 100%;
   max-height: 100%;
}

.explosm-image-bw {
    -webkit-filter: contrast(10) grayscale(1) invert(1);
}
